@use './colors' as c;

.container-dark {
  background-color: c.$dark-theme-color;
  min-height: 100vh;
}

.container-light {
  background-color: c.$light-theme-color;
  min-height: 100vh;
}

.switch-light {
  position: absolute;
  top: 20px;
  right: 20px;
  color: c.$light-theme-switch-color;
  font-size: 38px;
}

.switch-dark {
  @extend .switch-light;
  color: c.$dark-theme-switch-color;
}
